body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*CUSTOM CSS*/

.needLogin {
  position: absolute;
  margin-top: 5px;
  margin-left: -250px;
}

.pointer:hover {
  cursor: pointer;
}

.notif-container {
  position: relative;
}

.notif {
  padding: .5em;
  background-color: #28a745;
  color: #EEE;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: -40px;
  z-index: -5;
  display: none;
}

.notif.animated {
  display: block;
  animation: 1.5s notify;
}

@keyframes notify {
  from {
    bottom: 0px;
  }
  to {
    bottom: -40px;
  }
}

.paypal-container div {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paypal-container div div {
  display: flex;
  justify-content: center;
}